.debug-banner {
    padding: 16px;
    margin: 0;
    display: block; 
    position: fixed; 
    background-color: red;
    opacity: 50%;
}

.center {
    text-align: center;
}

body {
    font-family: sans-serif;
    padding: 0;
    margin: 0;
    background-color: #2e2e2e;
}

button {
    padding: 16px 60px 16px 60px;
}

h1.hero {
    font-size: 40px;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

p {
    line-height: 1.4;
}

.main-wrapper {
    display: grid;
    place-items: center;
    width: 100vw;
    height: 100vh;
}

main {
    color: white;
    max-width: 600px;
    padding: 64px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    border-radius: 8px;
    background-color: rgb(59, 59, 59);
}

hr {
    margin: 100px;
}

article {
    border-bottom: 1px solid white;
    padding-bottom: 32px;
    margin-bottom: 32px;
}

article p {
    font-weight: 100;
}

@media only screen and (max-width: 700px) {

    main {
        box-shadow: none;
        padding: 32px;
    }

    body {
        background-color: rgb(59, 59, 59);
    }

    h1.hero {
        font-size: 32px;
    }

    hr {
        visibility: hidden;
    }

}